a {
  text-decoration: none;
}

button,
button:focus,
input,
input:focus,
select,
select:focus {
  outline: none;
  border: none;
}



header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

}

.actions li {
  list-style-type: none;
}

.logo {
  color: #41bf15;
  font-size: 34px;
  font-family: LucidaGrande-Bold;

}

.stocks-list,
.order-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stocks-list {
  padding: 0;
  margin: 0;
}

.stocks-list>li:first-child .move-up,
.stocks-list>li:last-child .move-down {
  opacity: 0.5;
  /*disabled: true;*/
}

.stocks-list>li:first-child .move-up {
  opacity: 0.5;
  disabled: true;
}

.stock-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  border-top: 1px solid #e5e5e5;
  padding-left: 40px;
  padding-right: 36px;
}

.sign {
  box-sizing: border-box;
  position:relative;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 3px #666;
  border-radius: 50%;
}

.no-entry {
  background-color: red;
}



.stock-name {
  font-size: 1.5rem;
  font-family: Avenir-Light;
  color: #59737c;
}

.stock-details {
  width: 40%;
  text-align: right;
}

.stock-details>* {
  vertical-align: middle;
}

.stock-details>span {
  font-family: HelveticaNeueW01-55Roman;
  font-size: 30px;
  color: #59737c;
}

.order-buttons {
  display: inline-block;
}

.order-buttons button {
  padding: 0;
  display: block;
  width: 25px;
  height: 16px;
}


.value-down{
  background-color: #ff4f46;
}

.value-up{
  background-color: #41bf15;
}

.toggle-btn {
  width: 150px;
  height: 56px;
  border-radius: 10px;
  border-style: none;
  font-size: 34px;
  font-family: Avenir-Light;
  color: white;
  margin: 0 5%;
}

button.move-down{
  transform: scale(1, -1);
}

button.move-down,
button.move-up {
  color: #ababab;
  background: none;
  font-size: 1.1rem;
  text-align: center;

}

.wrapper {
  width: 900px;
  height: auto;
  background-color: #ffffff;
  border: 20px solid lightgray;
  margin: 0 auto;
  align-items: center;
}

/**
  icons
 */

.header-button,
.search {
  border: none;
  background: none;
  color: #ababab;
  width: 40px;
  height: 40px;
  font-size: 1.15rem;
}

.selected {
  color: #41bf15;
}

.refresh {
  transform: rotate(45deg);
}

/*********************************/

form label {
  color: #59737c;
  font-size: 1.4rem;
}

form {
  display: flex;
  height: 160px;
  align-items: center;

  border-top: 1px solid #e5e5e5;
}

#submit {
  width: 100px;
  height: 100px;
  background: #41bf15;
  border-radius: 50px;
  margin: 20%;
  color: white;
  font-size: 1.6rem;
}

.submit-wrapper {
  width: 20%;
  height: 100%;
}


.input-fields {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
}

.input-fields>div {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

select {
  width: 60%;
  height: 45%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.input-fields input {
  width: 55%;
  height: 45%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

/***********************************search view*****************************************/
.search-results{
  min-height: 600px;
  border: 1px solid red;
}

.search-header {
  height: 100px;
}
